/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
} */
.chatBox {
  display: flex;
  height: 100%;

  /* border: 2px solid blue; */
  border-radius:0px 50px 50px 0px;
  flex:1
}
.chatBoxContainer {
  display: flex;
  /* border: 2px solid green; */
flex-direction: column;
  height: 100%;
  flex:1;
border-radius:0px 50px 50px 0px;
}

/* .container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  flex-basis: 400px;
  background-color: white;
  border-radius: 20px;
  margin: 2px 10px;
} */
.chatWindow {
  display: flex;
  flex-direction: column;
  
  background-color: rgb(179, 218, 231);
  height: 90%;
  width:100%;
  overflow-y:scroll;
}
.chatProfile{
  display: flex;
  align-items: center;
  background-color:rgb(110, 130, 168);
  width:100%;
  height:70px;
  border-radius: 0px 50px 0px 0px;
  border-bottom: 2px solid white;
  /* justify-content: space-around; */
}
.backbtn{
padding:10px;

}
.backbtnicon{
  width:30px;
  height:30px;
  color: antiquewhite;
}
.groupName{
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: aliceblue;
}
.activeUser {
  display: flex;
  justify-content: center;
}
.activeUser > p {
  background-color: aliceblue;
  padding: 5px;
  border-radius: 7px;
}

.sendermsg {
  display: flex;
  /* width:50%; */
  justify-content: right;
}
.sendermsgLeft{
  display: flex;
  width:75%;
  justify-content: end;
}
.senderMessageBox  {
  display:flex;
  
  
  width:fit-content;
  background-color: rgb(173, 46, 173);
  color: aliceblue;
  padding: 8px 10px;
  margin: 10px 20px;
  border-radius: 10px 10px 0px 10px;
  outline: none;
}
.recievermsg {
  display: flex;
  justify-content: left;
  width:75%;
}
.recieverMessageBox  {
  display:flex;
  background-color: lightseagreen;
  color: aliceblue;
  padding: 8px 10px;
  margin: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  /* flex-basis:50%; */
  outline: none;
}
.messagetime{
  display: flex;
  
 /* justify-content: end; */
  align-items: end;
  font-size: .75rem;
  margin-left:10px;
  margin-top:2px;
  /* position: relative; */
  /* top:8px; */
}


.chatInput {
  display: flex;

  align-items: center;
}
.chatInput > input {
  width: 80%;
  margin: 20px;
  height: 40px;
  border-radius: 10px;
}
.sendbtn {
  height: 40px;
  width: 70px;
  border-radius: 10px;
  margin-right: 10px;
}
.chatWindow::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chatWindow {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pageDetails{
  display: flex;
  flex-direction: column;
  background-color: rgb(94, 135, 168);
  height:100%;
  border-radius:0px 50px 50px 0px;
}
.pageData{
  display:flex;
  align-items: center;
  justify-content: center;
  height:150px;
  width:100%;
  
}
.pageimg{
  width:80px;
  height:80px;
  border:2px solid black;
  margin:10px;
}
.Backbtn{
  margin:10px 20px
}
.pageMemberTitle{
  display: flex;
  justify-content: center;
}
.pageMemberList{
  display:flex;
  border:1px solid black;
  height:100%;
  border-radius:0px 0px 50px 0px;
}
