.sendermsg {
    display: flex;
    
    justify-content: right;
  }
  .sendermsgLeft{
    display: flex;
    width:75%;
    justify-content: end;
   
  }
  .senderMessageBox  {
    display:flex;
    flex-direction: column;
   
    width:fit-content;
    background-color: rgb(173, 46, 173);
    color: aliceblue;
    padding: 8px 10px;
    margin: 10px 20px;
    border-radius: 10px 10px 0px 10px;
    outline: none;
  }
  
  .recievermsg {
    display: flex;
    justify-content: left;
    width:75%;
  }
  .recieverMessageBox  {
    display:flex;
    flex-direction: column;
    background-color: lightseagreen;
    color: aliceblue;
    padding: 8px 10px;
    margin: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    /* flex-basis:50%; */
    outline: none;
  }
  .recieverdetails{
    display:flex;
    justify-content: space-between;
   font-size: 0.7rem;
    border-bottom: 1px solid black;
    padding:4px 2px;
    background-color: rgb(23, 112, 108);
  }
  .recieverdetails>p{
    margin:0px 5px;
    width:60px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
  .messagetime{
    display: flex;
    
   justify-content: end;
    align-items: end;
    font-size: .75rem;
    margin-left:10px;
    margin-top:2px;
    /* position: relative; */
    /* top:8px; */
  }
  
  .usermessage{
    margin:3px 15px
  }
  .chatInput {
    display: flex;
  
    align-items: center;
  }