.main {
  display: flex;
 
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 500px;
  /* height: 200px; */
  margin: 10px;
 padding:10px;
  box-shadow: 1px 4px 4px 4px ;
  border-radius: 20px;
}
.title {
  display: flex;
  justify-content:center;
  /* margin-left:10px */
  position: relative;
  left:20px;
  top:30px;
  background-color: red;
  width:30%;
  color:white;
  text-decoration: dotted;
  
}
.close {
  display: flex;
  justify-content: flex-end;
  top: -5px;
  position: relative;
  margin-right:20px;
  font-weight: bold;
}
.close>button{
    border:none;
    background-color: white;
}
.form {
  display: flex;
  justify-content: center;
}

.inputlabel {
  display: flex;
  flex-direction: column;
  height: 25px;
  border: 2px solid red;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  border-radius: 10px;
}
.inputlabel > div {
  display: flex;
  position: relative;
  top: -12px;
  margin-left: 35px;
  
  background-color: rgb(255, 255, 255);
  width: fit-content;
  font-weight: bold;
}
.inputlabel > input {
  display: flex;
  position: relative;

  top: -10px;
  border: none;
  outline: none;
  margin-left:30px;

}

.recoverybtn {
  display: flex;
  /* height: 30px; */
  justify-content: flex-end;
}
.recoverybtn > button {
  background-color: red;

  color: white;
  font-weight: bold;
  
  margin-right: 30px;
 
  border-radius: 10px;
  padding: 5px;
}
.recoverybtn > button:active {
  background-color: yellowgreen;


}
.icon{
    color:rgb(241, 3, 3);
    width:40px;
    height: 30px;
}


.envicon{
    display:flex;
    position: relative;
    top:34px;
    width:20px;
    height:20px;
    left:25px;
    color:red;
}
.message{
  display:flex;
  position: relative;
  bottom:20px;
  left:28px;
 color:green;
  margin-right:10px;
}