body {
    margin: 0px;
    padding: 0px;
  }

.containers{
  
    width:100vw;
    height:100vh;
  
    background: url("../public/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
  padding:0;
  margin: 0;
}